In [4]:
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv
import quandl
import plotly.express as px
import requests
from fredapi import Fred 

%matplotlib inline

In [3]:
#from 1947 to 2021, every three months
income_per_capita= quandl.get("FRED/A792RC0Q052SBEA", authtoken="m6nQZWVxbd6F2y_ESnBH")
income_per_capita.head().dropna()

             Value
Date
1947-01-01  1325.0
1947-04-01  1319.0
1947-07-01  1369.0
1947-10-01  1383.0
1948-01-01  1417.0