In [2]:
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv
import quandl
import plotly.express as px
import requests
from fredapi import Fred 

%matplotlib inline

In [4]:
personal_savings= quandl.get("FRED/MYAGM1USM052S", authtoken="m6nQZWVxbd6F2y_ESnBH")
personal_savings.head().dropna()

                   VALUE
DATE
1959-01-01  1.389000e+11
1959-02-01  1.394000e+11
1959-03-01  1.397000e+11
1959-04-01  1.397000e+11
1959-05-01  1.407000e+11