In [2]:
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv
import quandl
import plotly.express as px
import requests
from fredapi import Fred 

%matplotlib inline

In [3]:
PPI= quandl.get("FRED/PPIACO", authtoken="m6nQZWVxbd6F2y_ESnBH")
PPI.head().dropna()

            Value
Date
1913-01-01   12.1
1913-02-01   12.0
1913-03-01   12.0
1913-04-01   12.0
1913-05-01   11.9