In [20]:
# imports - just pulled from the rental analysis homework
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv
import requests
import json

import quandl

import warnings
warnings.filterwarnings('ignore')

In [21]:
#Tyler FRED API
#.gitignore file under Tyler_Keys

load_dotenv('api_keys/Tyler_Keys.env')
Tyler_FRED_API = os.getenv("FRED")
print(Tyler_FRED_API)

d7bd1dd8eb442bf7a65c1ff5c20a0b4e

In [22]:
# I couldn't figure out the API but will keep working on it.
# https://api.stlouisfed.org/fred/series/observations?series_id=GNPCA&api_key=abcdefghijklmnopqrstuvwxyz123456
#https://fred.stlouisfed.org/docs/api/fred/series_observations.html



# https://api.stlouisfed.org/fred/series/observations?series_id=GNPCA&api_key=abcdefghijklmnopqrstuvwxyz123456&file_type=json
api_url = "https://api.stlouisfed.org/fred/series/observations?series_id=GNPCA&api_key="+Tyler_FRED_API+"&file_type=json"


# response_data = requests.get(request_url).json()
# print(json.dumps(response_data, indent=4))

fred_api_response_data = requests.get(api_url).json()
# print(json.dumps(fred_api_response_data, indent=4))

In [23]:
data_df = pd.DataFrame(fred_api_response_data)
data_df.head(10)

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,observations
0,2021-05-08,2021-05-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-08', 'realtime_end..."
1,2021-05-08,2021-05-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-08', 'realtime_end..."
2,2021-05-08,2021-05-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-08', 'realtime_end..."
3,2021-05-08,2021-05-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-08', 'realtime_end..."
4,2021-05-08,2021-05-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-08', 'realtime_end..."
5,2021-05-08,2021-05-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-08', 'realtime_end..."
6,2021-05-08,2021-05-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-08', 'realtime_end..."
7,2021-05-08,2021-05-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-08', 'realtime_end..."
8,2021-05-08,2021-05-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-08', 'realtime_end..."
9,2021-05-08,2021-05-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-08', 'realtime_end..."

In [1]:
#Total Liabilties - Monthly

# file_path = Path("Excel_Data/Total_Liabilities.csv")
# Individual_Tax_Lower_data = pd.read_csv(file_path, index_col="Month")
# Individual_Tax_Lower_data.head()

NameError: name 'Path' is not defined