In [2]:
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv
import quandl
import plotly.express as px
import requests
from fredapi import Fred 

%matplotlib inline

In [3]:
uncertainty_index = quandl.get("FRED/USEPUINDXM", authtoken="m6nQZWVxbd6F2y_ESnBH")
uncertainty_index.head().dropna()

                Value
Date
1985-01-01  125.22474
1985-02-01   99.02081
1985-03-01  112.19051
1985-04-01  102.81133
1985-05-01  120.08273